
/*seg_desktop_ie_include.css*/

/*s-fonts.css*/


/*s-page-desktop.css*/
* {font-family: Arial, sans-serif; color: #000000;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
html {height: 100%;}
body {background: #ffffff; margin: 0; overflow-y: scroll;}
h1, h2, h3, h4, h5, h6, p, ul, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: normal;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
a:hover {}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px;}
input, textarea {outline: none;}
#page {position: relative;}
a, span {font-size: inherit; font-family: inherit; color: inherit; text-transform: inherit;}
h1 {
	font-family: Arial, sans-serif;
}
h2 {line-height: 1.25em; padding-bottom: 7px; padding-top: 7px;
	font-family: Arial, sans-serif;
}
h3 {
	font-family: Arial, sans-serif;
}
h4 {
	font-family: Arial, sans-serif;
}
h5 {}
h6 {}
p {line-height: 1.38em; padding: 0 0 20px;} 
ul {font-size: 0;}
li {display: inline-block; vertical-align: top;
	font-family: Arial, sans-serif;
}
dl {font-size: 0;} 
dd, 
dt {display: inline-block; vertical-align: top; text-transform: uppercase; color: #666666;
	font-family: Arial, sans-serif;
}


/*s-content-desktop.css*/
#content {position: relative;}
#content .scene {position: relative; width:100%; border-bottom:1px solid #000;}
#content .scene h1 {text-align: center; padding:60px 0; font-size: 50px; font-family:'HelveticaNeueW01-86Heav';}
#content .scene h2 {text-align: center; padding: 100px 0 60px 0; font-family:'HelveticaNeueW01-85Heav'; text-transform: uppercase; font-size:55px;}
#content .scene h3 {text-align: center; padding: 10px 0; font-family: Arial; text-transform: uppercase;font-size:16px;}
#content .scene h4 {text-align: center; padding: 10px 0; font-family: Arial; text-transform: uppercase; font-size:16px;}
#content .scene.red,
#content .scene.doctrines,
#content .scene.front {
	background-color: #ee191b;
}
#content .scene.blue,
#content .scene.action {
	background-color: #00027a;
}
#content .scene .next,
#content .scene .previous {position:absolute; width:100px; padding: 28px 0; top: 50%; text-align: center; font-family:'HelveticaNeueW01-86Heav'; color:#00027a; cursor: pointer;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
#content .scene .next {right: -10px;
	-webkit-transform:rotate(90deg);
  	   -moz-transform:rotate(90deg);
  	    -ms-transform:rotate(90deg);
}
#content .scene .previous {left: -10px; 
	-webkit-transform:rotate(-90deg);
  	   -moz-transform:rotate(-90deg);
  	    -ms-transform:rotate(-90deg);
}
#footer {position: relative;}
.error #content .scene {}
.error #content .scene > h1 {font-size: 7rem; padding: 70px 80px 10px 83px;}
.error #content .scene > h2 {font-size: 1.5rem; padding: 20px 80px 10px 83px;}
.error #content .scene > p {padding: 20px 20px 10px 83px; max-width: 480px;}

