
/*seg_desktop_include.css*/

/*s-fonts.css*/


/*s-page-desktop.css*/
* {font-family: "Nationale Regular", Arial, Verdana, sans-serif; color: #000000;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
html {height: 100%;}
body {background: #ffffff; margin: 0; overflow-y: scroll;}
h1, h2, h3, h4, h5, h6, p, ul, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: normal;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
a:hover {}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px;}
input, textarea {outline: none;}
#page {position: relative;}
a, span {font-size: inherit; font-family: inherit; color: inherit; text-transform: inherit;}
h1 {
	font-family: "Nationale Demibold", Arial, Verdana, sans-serif;
}
h2 {line-height: 1.25em; padding-bottom: 7px; padding-top: 7px;
	font-family: "Nationale Demibold", Arial, Verdana, sans-serif;
}
h3 {
	font-family: "Nationale Demibold", Arial, Verdana, sans-serif;
}
h4 {
	font-family: "Nationale Demibold", Arial, Verdana, sans-serif;
}
h5 {}
h6 {}
p {line-height: 1.38em; padding: 0 0 20px;} 
ul {font-size: 0;}
li {display: inline-block; vertical-align: top;
	font-family: "Nationale Demibold", Arial, Verdana, sans-serif;
}
dl {font-size: 0;} 
dd, 
dt {display: inline-block; vertical-align: top; text-transform: uppercase; color: #666666;
	font-family: "Nationale Demibold", Arial, Verdana, sans-serif;
}


/*s-content-desktop.css*/
#content {position: relative;}
#content .scene {position: relative; width:100%; border-bottom:1px solid #000;}
#content .scene h2 {
	text-align: center;
	padding: 100px 0 60px 0;
	font-family:'HelveticaNeueW01-85Heav';
	text-transform: uppercase;
	font-size:55px;
}
#content .scene.red,
#content .scene.doctrines,
#content .scene.front {
	background-color: #ee191b;
}
#content .scene.blue,
#content .scene.action {
	background-color: #00027a;
}
#content .scene .next,
#content .scene .previous {position:absolute; width:100px; height:20px; top: 50%; text-align: center; font-family:'HelveticaNeueW01-86Heav'; color:#00027a; cursor: pointer;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
#content .scene .next {right: 0;
	-webkit-transform:rotate(90deg);
  	   -moz-transform:rotate(90deg);
  	    -ms-transform:rotate(90deg);
}
#content .scene .previous {left: 0; 
	-webkit-transform:rotate(-90deg);
  	   -moz-transform:rotate(-90deg);
  	    -ms-transform:rotate(-90deg);
}
#footer {position: relative;}
.error #content .scene {}
.error #content .scene > h1 {font-size: 7rem; padding: 70px 80px 10px 83px;}
.error #content .scene > h2 {font-size: 1.5rem; padding: 20px 80px 10px 83px;}
.error #content .scene > p {padding: 20px 20px 10px 83px; max-width: 480px;}

/*s-front-desktop.css*/
#content .scene.front {}
#content .scene.front h2 {color: #00027a;}
#content .scene.front ul.items {display:block; width:100%; font-size: 1rem; height:400px;}
#content .scene.front ul.items li.item {text-align:center; padding:20px;}
#content .scene.front ul.items li.item img {display: none;}
#content .scene.front ul.actions {font-size: 1rem;}
#content .scene.front ul.actions li.next { width:100px; background-color: green; cursor: pointer;}
#content .scene.front ul.actions li.previous { width:100px; background-color: yellow; cursor: pointer;}
#content .scene.front ul.indexes {font-size: 1rem; margin:0 auto;}
#content .scene.front ul.indexes li.index {margin:10px; padding:10px; background: green; cursor: pointer;}


/*s-intro-desktop.css*/
#content .scene#intro {}
#content .scene#intro h2 {text-align: center; margin:100px 0 200px 0; font-size: 76px; font-family:'HelveticaNeueW01-86Heav';}
#content .scene#intro .logo {background: url('/img/gx_logo_large.png') no-repeat top left; margin:40px auto; width:368px; height:174px;}
#content .scene#intro ul {margin:40px auto; text-align: center;}
#content .scene#intro ul li {font-size: 1rem;}
#content .scene#intro ul li a {padding:18px 28px; border:2px solid #00027a; margin:0 10px; color:#00027a; font-family:'HelveticaNeueW01-76Bold'; font-size: 16px;}
#content .scene#intro ul li a:hover {background-color: #00027a; color:#ee191b; border-color:#ee191b;}


/*s-kandidaterne-desktop.css*/
#content .scene#kandidaterne {}
#content .scene#kandidaterne h2 {text-align: center; margin:60px 0; font-size: 50px; font-family:'HelveticaNeueW01-86Heav';}
#content .scene#kandidaterne ul.people {margin:60px 0; }
#content .scene#kandidaterne ul.people li.person {width:50%; overflow: hidden; vertical-align: top;}
#content .scene#kandidaterne ul.people li.person .wrapper {position: relative; width:240px; height:340px;}
#content .scene#kandidaterne ul.people li.one {height:520px; }
#content .scene#kandidaterne ul.people li.one .wrapper {}
#content .scene#kandidaterne ul.people li.one .wrapper .actions {position:relative; top:-90px; left:130px;}
#content .scene#kandidaterne ul.people li.two {height:780px;}
#content .scene#kandidaterne ul.people li.two .wrapper {top:260px; left:160px;}
#content .scene#kandidaterne ul.people li.two .wrapper .actions {position:relative; top:-90px; left:130px;}
#content .scene#kandidaterne ul.people li.three {height:340px; margin-top: -280px;}
#content .scene#kandidaterne ul.people li.three .wrapper {left:140px;}
#content .scene#kandidaterne ul.people li.three .wrapper .actions {position:relative; top:-90px; left:130px;}
#content .scene#kandidaterne ul.people li.four {height:380px;}
#content .scene#kandidaterne ul.people li.four .wrapper {}
#content .scene#kandidaterne ul.people li.four .wrapper .actions {position:relative; top:-90px; left:130px;}
#content .scene#kandidaterne ul.people li.person .details {position: fixed; left:50%; width: 50%; height: 100%; top:56px; background-color: #ee191b; z-index: 99;}
#content .scene#kandidaterne ul.people li.person .details img {margin: 40px auto;}
#content .scene#kandidaterne ul.people li.person .details h3 {font-size: 44px;}
#content .scene#kandidaterne ul.people li.person .details h4 {font-size: 24px;}
#content .scene#kandidaterne ul.people li.person .details p {font-size: 16px;}
#content .scene#kandidaterne ul.people li.person .details ul.facts {}
#content .scene#kandidaterne ul.people li.person .details ul.facts li {font-size: 14px;}
#content .scene#kandidaterne ul.people li.person .details h3,
#content .scene#kandidaterne ul.people li.person .details h4,
#content .scene#kandidaterne ul.people li.person .details p,
#content .scene#kandidaterne ul.people li.person .details ul.facts,
#content .scene#kandidaterne ul.people li.person .details ul.facts li {color:#00027a; width:440px; margin: 0 auto;}
#content .scene#kandidaterne ul.people li.person .details {display: none;}
#content .scene#kandidaterne ul ul.actions {font-size: 1rem; }
#content .scene#kandidaterne ul ul.actions li a {display:block;  padding:12px 28px; border:2px solid #ee191b; margin:0 10px; color:#ee191b; font-family:'HelveticaNeueW01-76Bold'; font-size: 16px;}
#content .scene#kandidaterne ul ul.actions li a:hover {background-color: #ee191b; color:#00027a;}


/*s-actions-desktop.css*/
#content .scene.action {}
#content .scene.action h2 {color: #ee191b;}
#content .scene.action ul.items {width:960px; margin:0 auto;}
#content .scene.action ul.items li.item {display:inline-block; vertical-align:top; width:200px; background: #00027a url('/img/video.jpg') no-repeat top left; 0% 100%}
#content .scene.action ul.items li.more {background:yellow;}
#content .scene.action ul.items li.item .youtube {width:100%; height:100%;}

/*s-doctrines-desktop.css*/
#content .scene.doctrines {}
#content .scene.doctrines h2 {color: #00027a;}
#content .scene.doctrines ul.items {display:block; width:100%; font-size: 1rem; height:400px;}
#content .scene.doctrines ul.items li.item {text-align:center; padding:20px; margin:0 auto; width:740px; height: 300px; background-color: #ee191b; }
#content .scene.doctrines ul.items li.item p {display: inline; background-color:#00027a; padding:4px;
	font-size: 30px;color: #ee191b; font-family:'HelveticaNeueW01-86Heav'; line-height: 50px;
	box-shadow: 10px 0 0 #00027a, -10px 0 0 #00027a; margin-top:80px;
}


/*s-events-desktop.css*/
#content .scene.events h2 {text-align: center; margin:60px 0; font-size: 50px; font-family:'HelveticaNeueW01-86Heav';}
#content .scene.events ul.slides {display:block; width:100%; font-size: 1rem; height:600px;}
#content .scene.events ul.slides li.slide {position: absolute; padding:0;}
#content .scene.events ul li ul.events {font-size:1rem; }
#content .scene.events ul li ul.events li.event {width: 230px; margin: 10px; padding:18px 28px; border: 2px solid #00027a;}
#content .scene.events ul li ul.events li.event h3 {margin-bottom:10px; color: #00027a;}
#content .scene.events ul li ul.events li.event p {font-size:0.9rem; color: #00027a;}
#content .scene.events ul.actions {font-size: 1rem;}
#content .scene.events ul.actions li.next { width:100px; background-color: green; cursor: pointer;}
#content .scene.events ul.actions li.previous { width:100px; background-color: yellow; cursor: pointer;}

/*s-tweets-desktop.css*/
#content .scene#tweets {font-size: 0; padding-bottom:40px;}
#content .scene#tweets h2 {text-align: center; margin-top:60px; font-size: 50px; font-family:'HelveticaNeueW01-86Heav';}
#content .scene#tweets h3 {text-align: center; margin:10px 0; color: #00027a; font-size:20px; text-transform: uppercase;}
#content .scene#tweets h3 strong {color: #00027a; font-family:'HelveticaNeueW01-95Blac'; font-weight: normal;}
#content .scene#tweets ul.tweets {font-size:1rem; width: 286px; display: inline-block; vertical-align: top; margin-top:40px;}
#content .scene#tweets ul.tweets.first {margin-right:40px;}
#content .scene#tweets ul.tweets.last {margin-left:40px;}
#content .scene#tweets ul.tweets li.tweet {}
#content .scene#tweets ul.tweets li.tweet h4 {margin-bottom:10px; color: #00027a; font-family:'HelveticaNeueW01-86Heav';}
#content .scene#tweets ul.tweets li.tweet p {font-size:0.9rem; color: #00027a;}


/*s-about-desktop.css*/
#content .scene#about {padding-bottom:40px; background-color: #00027a;}
#content .scene#about .about {position:relative; z-index:10;}
#content .scene#about .about h2 {text-align: center; margin:60px 0 40px; color:#ee191b; font-size: 50px; font-family:'HelveticaNeueW01-86Heav';}
#content .scene#about .about p {margin:0 auto; text-align: center; width:640px;
	font-size:18px; color: #ee191b; font-family:'HelveticaNeueW01-86Heav'; text-transform: uppercase; 
}
#content .scene#about .about p.adress {font-size:14px; text-transform: none; }
#content .scene#about .about p a {padding:4px; color: #ee191b;}
#content .scene#about .about p a:hover {color: #00027a; background-color: #ee191b;}
#content .scene#about .overlay,
#content .scene#about .gmap {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#content .scene#about .overlay {background-color: rgba(0, 0, 122, 0.8);}
