
/*seg_desktop_include.css*/

/*s-fonts.css*/


/*s-page-desktop.css*/
* {font-family: "Nationale Regular", Arial, Verdana, sans-serif; color: #000000;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
html {height: 100%;}
body {background: #ffffff; margin: 0; overflow-y: scroll;}
h1, h2, h3, h4, h5, h6, p, ul, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: normal;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
a:hover {}
img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px;}
input, textarea {outline: none;}
#page {position: relative;}
a, span {font-size: inherit; font-family: inherit; color: inherit; text-transform: inherit;}
h1 {
	font-family: "Nationale Demibold", Arial, Verdana, sans-serif;
}
h2 {line-height: 1.25em; padding-bottom: 7px; padding-top: 7px;
	font-family: "Nationale Demibold", Arial, Verdana, sans-serif;
}
h3 {
	font-family: "Nationale Demibold", Arial, Verdana, sans-serif;
}
h4 {
	font-family: "Nationale Demibold", Arial, Verdana, sans-serif;
}
h5 {}
h6 {}
p {line-height: 1.38em; padding: 0 0 20px;} 
ul {font-size: 0;}
li {display: inline-block; vertical-align: top;
	font-family: "Nationale Demibold", Arial, Verdana, sans-serif;
}
dl {font-size: 0;} 
dd, 
dt {display: inline-block; vertical-align: top; text-transform: uppercase; color: #666666;
	font-family: "Nationale Demibold", Arial, Verdana, sans-serif;
}


/*s-content-desktop.css*/
#content {position: relative;}
#content .scene {position: relative; width:100%; border-bottom:1px solid #000;}
#content .scene h1 {text-align: center; padding:60px 0; font-size: 50px; font-family:'HelveticaNeueW01-86Heav';}
#content .scene h2 {text-align: center; padding: 100px 0 60px 0; font-family:'HelveticaNeueW01-85Heav'; text-transform: uppercase; font-size:55px;}
#content .scene h3 {text-align: center; padding: 10px 0; font-family: Arial; font-style: italic; text-transform: uppercase;font-size:16px;}
#content .scene h4 {text-align: center; padding: 10px 0; font-family: Arial; font-style: italic; text-transform: uppercase; font-size:16px;}
#content .scene.red,
#content .scene.doctrines,
#content .scene.front {
	background-color: #ee191b;
}
#content .scene.blue,
#content .scene.action {
	background-color: #00027a;
}
#content .scene .next,
#content .scene .previous {position:absolute; width:100px; height:20px; top: 50%; text-align: center; font-family:'HelveticaNeueW01-86Heav'; color:#00027a; cursor: pointer;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
#content .scene .next {right: 0;
	-webkit-transform:rotate(90deg);
  	   -moz-transform:rotate(90deg);
  	    -ms-transform:rotate(90deg);
}
#content .scene .previous {left: 0; 
	-webkit-transform:rotate(-90deg);
  	   -moz-transform:rotate(-90deg);
  	    -ms-transform:rotate(-90deg);
}
#footer {position: relative;}
.error #content .scene {}
.error #content .scene > h1 {font-size: 7rem; padding: 70px 80px 10px 83px;}
.error #content .scene > h2 {font-size: 1.5rem; padding: 20px 80px 10px 83px;}
.error #content .scene > p {padding: 20px 20px 10px 83px; max-width: 480px;}

/*s-front-desktop.css*/
#content .scene.front h2 {color: #00027a;}
#content .scene.front .logo {margin:0 auto -20px; background: url("/img/gx_logo_front.png") no-repeat center 70px; height: 270px;}
#content .scene.front .container {position: relative;}
#content .scene.front .container ul.items {display:block; width:100%; }
#content .scene.front .container ul.items li.item {height:380px;}
#content .scene.front .container ul.items li.item p {display: none;}
#content .scene.front .container ul.items li.item img {margin: 0 auto;}
#content .scene .next,
#content .scene .previous {top:50%;}
#content .scene.front ul.servicenavigation {display: none;}


/*s-candidates-desktop.css*/
#content .scene.candidates {padding:60px 0 60px;}
#content .scene.candidates h1 {color:#ee191b;}
#content .scene.candidates ul.items {width: 960px; font-size: 0; margin: 0 auto;}
#content .scene.candidates ul.items li.item {width: 470px; margin:0 10px 70px 0; text-align: center; cursor: pointer;}
#content .scene.candidates ul.items li.item:last-child {margin:0;}
#content .scene.candidates ul.items li.item .image {width:390px; min-height:220px; padding:10px; background-color: red; margin: 0 auto 6px;}
#content .scene.candidates ul.items li.item .image img {width:100%;}
#content .scene.candidates ul.items li.item h2 {color: #ee191b; font-size: 24px; padding:0 10px; }
#content .scene.candidates ul.items li.item h4 {color: #ee191b; padding: 4px 0;}
#content .scene.candidates ul.items li.item p.link {display: inherit; font-family:'HelveticaNeueW01-86Heav'; font-size: 14px; }
#content .scene.candidates ul.items li.item h3,
#content .scene.candidates ul.items li.item p {display: none; color: #ee191b; padding: 4px 0;}
.candidate #content .scene.candidates {padding:0;}
.candidate #content .scene.candidates ul.items li.item {width: 480px; margin: 0 0 0 240px; cursor: default;}
.candidate #content .scene.candidates ul.items li.item h3 {display: block; color: #ee191b; padding:20px 0 4px;}
.candidate #content .scene.candidates ul.items li.item p {display: block; color: #ee191b; font-size: 14px;}
.candidate #content .scene.candidates .next,
.candidate #content .scene.candidates .previous {top:50%; color: #ee191b; font-size: 16px;}
.candidate #content .scene.candidates .close a {display:block; width:22px; height:22px; position: absolute; padding:16px 20px 0 0; right:0px; top:0px; cursor: pointer; background: url("/img/gx_nav_icon_close_red.png") no-repeat bottom left; text-indent: -9999px;}
.candidate #page #header,
.candidate #page #footer {display: none;}


/*s-action-desktop.css*/
#content .scene.action {}
#content .scene.action h2 {color: #ee191b;}
#content .scene.action ul.items {width:960px; margin:0 auto 80px;}
#content .scene.action ul.items li {display:inline-block; vertical-align:top; width:280px; height:300px; padding:10px; font-size: 1em; margin:0 20px 20px 0;}
#content .scene.action ul.items li.item {background-color: #ee191b;}
#content .scene.action ul.items li.item h3 {font-size:21px; font-family:'HelveticaNeueW02-55Roma'; color:#00027a; padding:10px 0; text-align: center;}
#content .scene.action ul.items li.item p {font-size:16px; font-family:'HelveticaNeueW02-55Roma'; color:#00027a; text-align: center;}
#content .scene.action ul.items li.item a {display: none;}
#content .scene.action ul.items li.item .image {position: relative; background-color: #00027a;}
#content .scene.action ul.items li.item .image .play_bn {position: absolute; width:70px; height:70px; top: 50%; left: 50%; margin: -35px; border-radius: 35px; background: #00027a; cursor: pointer;}
#content .scene.action ul.items li.item .image .play_bn p {color: #ee191b; font-size:21px; text-transform: uppercase; font-family:'HelveticaNeueW01-85Heav'; margin-top: 20px; cursor: pointer;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
#content .scene.action ul.items li.item .image .play_bn:hover {background: #ee191b;}
#content .scene.action ul.items li.item .image .play_bn:hover p {color:#00027a;}
#content .scene.action ul.items li.item .image img {width: 100%; opacity: 0.6;}
#content .scene.action ul.items li.more a {display:block; background: url("/img/gx_vise_fler_filmer.png") no-repeat center center; cursor: pointer; height: 300px;}
#content .scene.action ul.items li.item .youtube {width:100%; height:100%;}
#content .scene.action .youtube {display:none; position:absolute; background-color: #00027a; top: 300px; left: 50%; margin-left: -360px;}
#content .scene.action .youtube iframe {}
#content .scene.action .youtube .close {display:block; width:22px; height:22px; position: absolute; padding:16px 20px 0 0; right:-40px; top:0px; cursor: pointer; background: url("/img/gx_nav_icon_close_red.png") no-repeat top right; text-indent: -9999px; z-index: 101;}

/*s-doctrines-desktop.css*/
#content .scene.doctrines {}
#content .scene.doctrines h2 {color: #00027a;}
#content .scene.doctrines ul.items {display:block; width:100%; font-size: 1rem; height:400px;}
#content .scene.doctrines ul.items li.item {text-align:center; padding:20px; margin:0 auto; width:740px; height: 300px; background-color: #ee191b; }
#content .scene.doctrines ul.items li.item p {display: inline; background-color:#00027a; padding:4px;
	font-size: 30px;color: #ee191b; font-family:'HelveticaNeueW01-86Heav'; line-height: 50px;
	box-shadow: 10px 0 0 #00027a, -10px 0 0 #00027a; margin-top:80px;
}


/*s-events-desktop.css*/
#content .scene.events {padding:60px 0 60px;}
#content .scene.events h1 {color:#00027a;}
#content .scene.events ul.items {display:block; width:960px; font-size: 0; margin: 0 auto;}
#content .scene.events ul.items li.item {width:220px; margin:0 10px 40px; text-align: center; cursor: pointer;}
#content .scene.events ul.items li.item h3 {font-size: 18px; color:#00027a; font-family:'HelveticaNeueW01-76Bold'; text-transform: uppercase; padding-bottom:4px;}
#content .scene.events ul.items li.item dl {}
#content .scene.events ul.items li.item dl dt {display: none;}
#content .scene.events ul.items li.item dl dd {display:block;}
#content .scene.events ul.items li.item dl dd.published_at {font-size: 36px; color:#00027a; font-family:'HelveticaNeueW01-86Heav'; padding-bottom:4px;}
#content .scene.events ul.items li.item dl dd.location {font-size: 16px; color:#00027a; font-family:'HelveticaNeueW02-55Roma';}
#content .scene.events ul.items li.item .description {display: none;}
.event #content .scene.events {padding:0;}
.event #content .scene.events ul.items li.item {width: 480px; margin: 0 0 0 240px; cursor: default;}
.event #content .scene.events ul.items li.item .description {display: block;}
.event #content .scene.events ul.items li.item .description p {font-size: 16px; color:#00027a; font-family:'HelveticaNeueW02-55Roma';}
.event #content .scene.events .next,
.event #content .scene.events .previous {top:50%; color: #00027a; font-size: 16px;}
.event #content .scene.events .close a {display:block; width:22px; height:22px; position: absolute; padding:16px 20px 0 0; right:0px; top:0px; cursor: pointer; background: url("/img/gx_nav_icon_close_blue.png") no-repeat bottom left; text-indent: -9999px;}
.event #page #header,
.event #page #footer {display: none;}


/*s-support-desktop.css*/
#content .scene.support {padding:40px 0 60px;}
#content .scene.support .container {width: 460px; margin:0 auto; text-align: center;}
#content .scene.support .container h2 {color: #ee191b; font-size: 55px; padding:0 10px; }
#content .scene.support .container dl {padding-top:70px;}
#content .scene.support .container dl dt,
#content .scene.support .container dl dd {display: block; color: #ee191b; font-family:'HelveticaNeueW01-86Heav';}
#content .scene.support .container dl dt {font-size: 24px; padding-bottom:10px;}
#content .scene.support .container dl dd {font-size: 40px; padding-bottom:40px;}
#content .scene.support .container p {color: #ee191b;}
#content .scene.support .container p.intro {font-size: 18px; padding:30px 0;}
.support_us #content .scene.support .close a {display:block; width:22px; height:22px; position: absolute; padding:16px 20px 0 0; right:0px; top:0px; cursor: pointer; background: url("/img/gx_nav_icon_close_red.png") no-repeat bottom left; text-indent: -9999px; z-index: 101;}
.support_us #page #footer {display: none;}
.support_us #page #header #navigation .nav_icon {display: none;}
.support_us #page #header #navigation ul.servicenavigation li.support_us a {background: #00027a url("/img/bn_support_us_red.png") no-repeat center center;}


/*s-help-desktop.css*/
#content .scene.help {padding:0;}
#content .scene.help .container {width: 460px; margin:0 auto; text-align: center;}
#content .scene.help .container h2 {color: #00027a; font-size: 55px; padding:0 10px; }
#content .scene.help .container dl {padding-top:70px;}
#content .scene.help .container dl dt,
#content .scene.help .container dl dd {display: block; color: #00027a; font-family:'HelveticaNeueW01-86Heav';}
#content .scene.help .container dl dt {font-size: 24px; padding-bottom:10px;}
#content .scene.help .container dl dd {font-size: 40px; padding-bottom:40px;}
#content .scene.help .container p {color: #00027a;}
#content .scene.help .container p.intro {font-size: 18px; padding:30px 0;}
.help_us #content .scene.help .close a {display:block; width:22px; height:22px; position: absolute; padding:16px 20px 0 0; right:0px; top:0px; cursor: pointer; background: url("/img/gx_nav_icon_close_blue.png") no-repeat bottom left; text-indent: -9999px; z-index: 101;}
.help_us #page #footer {display: none;}
.help_us #page #header #navigation .nav_icon {display: none;}
.help_us #page #header #navigation ul.servicenavigation li.help_us a {background: #ee191b url("/img/bn_help_us_blue.png") no-repeat center center;}


/*s-footer-desktop.css*/
#footer {padding: 100px 0 60px; width: 100%;}
#footer .social {display: none;}
#footer .about {width:740px; margin:0 auto;}
#footer .about p {text-align: center; font-size: 26px; font-family:'HelveticaNeueW01-86Heav';}
#footer .about ul.contacts {display:block; width:100%; font-size: 1rem; height:200px;}
#footer .about ul.contacts li.contact {text-align:center; margin:60px auto 0; width:360px;}
#footer .about ul.contacts li.contact .press {}
#footer .about ul.contacts li.contact h4 {padding-bottom: 4px;}
#footer .about ul.contacts li.contact h5 {padding-bottom: 24px; font-size:20px; text-transform: uppercase; font-family:'HelveticaNeueW01-86Heav';}
#footer .about ul.contacts li.contact p {padding-bottom: 4px; font-size: 14px; line-height: 1em; font-family:'HelveticaNeueW02-55Roma';}
#footer .about ul.contacts li.contact p a {font-family:'HelveticaNeueW01-86Heav'; padding:0 4px;}
#footer.red {background-color:#ee191b; }
#footer.red .about p {color: #00027a;}
#footer.red .about ul.contacts li.contact * {color: #00027a;}
#footer.red .about ul.contacts li.contact p a:hover {background-color: #00027a; color: #ee191b;}
#footer.blue {background-color:#00027a; }
#footer.blue .about p {color: #ee191b;}
#footer.blue .about ul.contacts li.contact * {color: #ee191b;}
#footer.blue .about ul.contacts li.contact p a:hover {background-color: #ee191b; color: #00027a;}

/*s-header-desktop.css*/
#header #navigation {position: fixed; top:0; width: 100%; height:70px; z-index: 99; background-repeat: no-repeat; background-position: 20px 20px;}
#header.open #navigation {background-image: none;}
#header.no_logo #navigation.red,
#header.no_logo #navigation.blue {background-image: none;}
#header #navigation .nav_icon {width:22px; height:22px; position: absolute; padding:16px 20px 0 0; right:0px; top:0px; cursor: pointer;  background-repeat:no-repeat; background-position: bottom left;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
#header #navigation ul.primary {display: none;}
#header.open #navigation ul.primary {display: block; position: relative;}
#header.open #navigation ul.primary li {display: block; text-align: center;}
#header.open #navigation ul.primary li a {font-size: 50px; font-family:'HelveticaNeueW01-85Heav'; width:400px; display: block; margin:20px auto;}
#header #navigation ul.servicenavigation {margin:16px auto 0; text-align: center;}
#header #navigation ul.servicenavigation li a {display:block; width:100px; height:40px; margin: 0 10px;}
#header.open #navigation ul.servicenavigation {display: none;}
#header #navigation .social {display: none;}
#header.open #navigation .social {display: block; position: absolute;  bottom: 0; padding-bottom:20px; left: 50%; width: 220px; margin-left: -110px; }
#header.open #navigation .social h4 {font-family:'HelveticaNeueW01-85Heav'; text-align:center; text-transform: uppercase; font-size: 16px;}
#header.open #navigation .social ul {}
#header.open #navigation .social ul li a {display: block; width: 24px; height:40px; margin:0 15px; background-repeat: no-repeat; background-position: bottom left;}
#header #navigation.red {background-image: url("/img/gx_fixed_logo_blue.png");}
#header #navigation.red .nav_icon {background-image: url("/img/gx_nav_icon_blue.png");}
#header #navigation.red ul.servicenavigation li.help_us a {background: #00027a url("/img/bn_help_us_red.png") no-repeat center center;}
#header #navigation.red ul.servicenavigation li.support_us a {background: #00027a url("/img/bn_support_us_red.png") no-repeat center center;}
#header.open #navigation.red {background: #00027a;}
#header.open #navigation.red ul.primary li a {color:#ee191b;}
#header.open #navigation.red .nav_icon {background-image: url("/img/gx_nav_icon_close_red.png");}
#header.open #navigation.red ul.primary li a.active,
#header.open #navigation.red ul.primary li a:hover {background-color:#ee191b; color:#00027a;}
#header.open #navigation.red .social h4 {color:#ee191b;}
#header.open #navigation.red .social ul li.facebook a {background-image: url("/img/bn_fb_red.png");}
#header.open #navigation.red .social ul li.youtube a {background-image: url("/img/bn_yt_red.png");}
#header.open #navigation.red .social ul li.twitter a {background-image: url("/img/bn_tw_red.png");}
#header.open #navigation.red .social ul li.instagram a {background-image: url("/img/bn_ig_red.png");}
#header #navigation.blue {background-image: url("/img/gx_fixed_logo_red.png");}
#header #navigation.blue .nav_icon {background-image: url("/img/gx_nav_icon_red.png");}
#header #navigation.blue ul.servicenavigation li.help_us a {background: #ee191b url("/img/bn_help_us_blue.png") no-repeat center center;}
#header #navigation.blue ul.servicenavigation li.support_us a {background: #ee191b url("/img/bn_support_us_blue.png") no-repeat center center;}
#header.open #navigation.blue {background: #ee191b;}
#header.open #navigation.blue .nav_icon {background-image: url("/img/gx_nav_icon_close_blue.png");}
#header.open #navigation.blue ul.primary li a {color:#00027a;}
#header.open #navigation.blue ul.primary li a.active,
#header.open #navigation.blue ul.primary li a:hover {background-color:#00027a; color:#ee191b;}
#header.open #navigation.blue .social h4 {color:#00027a;}
#header.open #navigation.blue .social ul li.facebook a {background-image: url("/img/bn_fb_blue.png");}
#header.open #navigation.blue .social ul li.youtube a {background-image: url("/img/bn_yt_blue.png");}
#header.open #navigation.blue .social ul li.twitter a {background-image: url("/img/bn_tw_blue.png");}
#header.open #navigation.blue .social ul li.instagram a {background-image: url("/img/bn_ig_blue.png");}

